<div class="quick-actions btn-group m-b">
    <a id='dev_tables-delete' href='' url='{{url "DevTables.DeleteByNames"}}'  class="btn btn-outline btn-default" mode="+" target="_self">
        <i class="fa fa-trash"></i> 批量删除
    </a>
</div>
    <!--
    <ul class="quick-actions ">
        <form action="" method="get" class="form-action" id="dev_tables-quick-form" >
            <li>
                <label>
                    <span>名称</span><input type="text" name="name">
                </label>
            </li>
            <li>
                <a href="javascript:document.getElementById('dev_tables-quick-form').submit()" class="grid-action" method="" mode="*">
                    <i class="icon-search"></i> 查询
                </a>
            </li>
        </form>
    </ul>-->